{% extends "ProyectoWebApp/base.html" %}


{% load static %}

{% block content %}

    {% for servicio in servicios %}
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <img src="{{ servicio.imagen.url }}" class="card-img-top" alt="{{ servicio.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ servicio.titulo }}</h5>
                        <p class="card-text">{{ servicio.contenido }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    




{% endblock content %}
