{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
<style>
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    form input, form select, form textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    form .submit {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    form .submit:hover {
        background-color: #0056b3;
    }
</style>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="submit">Login</button>
</form>
{% endblock content %}
